.DS_Store
._*

### Potential secrets? ###
bin
.env*
env
*.bak
*.csv
*.db
*.docx
*.gz
*.log
*.out
*.pptx
*.tar
*.tmp
*.txt
*.xlsx
*.zip

### Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.run/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
*.code-workspace
/provider-data-api/generated/
