name: "Pipeline: Branch main to prod [PDP]"

on:
  workflow_dispatch:
    inputs:
      rtag:     { type: string, required: true, description: "Registry tag to deploy (e.g. 'v1.13.0')" }
      skip_e2e: { type: boolean, required: false, default: false, description: "Skip E2E tests after deployment" }

jobs:
  query-staging-version:
    name: "Query staging version"
    permissions: { contents: read }
    runs-on: ubuntu-latest
    environment: staging
    outputs:
      staging_fulltag: ${{ steps.versions.outputs.staging_fulltag }}
      staging_rtag:    ${{ steps.versions.outputs.staging_rtag }}
    steps:
      - uses: actions/checkout@v6

      - name: "Authenticate with Kubernetes cluster"
        id:   kube_auth
        uses: ./.github/actions/cp-kube-auth
        with:
          kube_cert:      ${{ secrets.DPD_KUBE_CERT }}
          kube_cluster:   ${{ secrets.DPD_KUBE_CLUSTER }}
          kube_namespace: ${{ secrets.DPD_KUBE_NAMESPACE }}
          kube_token:     ${{ secrets.DPD_KUBE_TOKEN }}

      - name: "Get deployed image registry tag"
        id:   versions
        if:   steps.kube_auth.outputs.kube_auth_attempted == 'true'
        shell: bash
        run: |
          set -eu
          STAGING_FULLTAG=$(kubectl get deploy "pdp-stable-provider-data-platform" -o json \
            | jq -r '.spec.template.spec.containers[0].image | split(":")[-1]' || echo "unknown")
          STAGING_RTAG="${STAGING_FULLTAG#pdp-}"
          echo "staging_fulltag=${STAGING_FULLTAG}" >> "$GITHUB_OUTPUT"
          echo "staging_rtag=${STAGING_RTAG}" >> "$GITHUB_OUTPUT"

  query-prod-version:
    name: "Query prod version"
    permissions: { contents: read }
    runs-on: ubuntu-latest
    environment: prod
    outputs:
      prod_fulltag: ${{ steps.versions.outputs.prod_fulltag }}
      prod_rtag:    ${{ steps.versions.outputs.prod_rtag }}
    steps:
      - uses: actions/checkout@v6

      - name: "Authenticate with Kubernetes cluster"
        id:   kube_auth
        uses: ./.github/actions/cp-kube-auth
        with:
          kube_cert:      ${{ secrets.DPD_KUBE_CERT }}
          kube_cluster:   ${{ secrets.DPD_KUBE_CLUSTER }}
          kube_namespace: ${{ secrets.DPD_KUBE_NAMESPACE }}
          kube_token:     ${{ secrets.DPD_KUBE_TOKEN }}

      - name: "Get deployed image registry tag"
        id:   versions
        if:   steps.kube_auth.outputs.kube_auth_attempted == 'true'
        shell: bash
        run: |
          set -eu
          PROD_FULLTAG=$(kubectl get deploy "pdp-stable-provider-data-platform" -o json \
            | jq -r '.spec.template.spec.containers[0].image | split(":")[-1]' || echo "unknown")
          PROD_RTAG="${PROD_FULLTAG#pdp-}"
          echo "prod_fulltag=${PROD_FULLTAG}" >> "$GITHUB_OUTPUT"
          echo "prod_rtag=${PROD_RTAG}" >> "$GITHUB_OUTPUT"

  preflight-summary:
    name: "Preflight"
    needs: [ query-staging-version, query-prod-version ]
    permissions: { contents: read }
    runs-on: ubuntu-latest
    steps:
      - name: "Production deployment"
        run: |
          cat >> "$GITHUB_STEP_SUMMARY" <<'EOF'
          ### Previously-deployed versions
          
          | Environment |                Version currently deployed                 |
          |:------------|:---------------------------------------------------------:|
          | **staging** | `${{ needs.query-staging-version.outputs.staging_rtag }}` |
          | **prod**    |    `${{ needs.query-prod-version.outputs.prod_rtag }}`    |
          
          Unless rolling back, the **staging** version should be similar to the registry tag to deploy (below) and the **prod** version (above) should be an older registry tag.
          
          ### Version to be deployed
          
          | Workflow input name                 |      Requested value      |
          |:------------------------------------|:-------------------------:|
          | **Registry tag to deploy**          |   `${{ inputs.rtag }}`    |
          | **Skip E2E tests after deployment** | `${{ inputs.skip_e2e }}`  |
          
          The registry tag `pdp-${{ inputs.rtag }}` will replace the previous `${{ needs.query-prod-version.outputs.prod_fulltag }}` version in **prod**.
          
          ### Recommended manual checks
          
          Verify that the registry tags to deploy and to roll back both still exist in Amazon ECR:
          
          - Log in to [AWS Console](https://justice-cloud-platform.eu.auth0.com/samlp/mQev56oEa7mrRCKAZRxSnDSoYt6Y7r5m?connection=github&region=eu-west-2), navigate to [ECR repositories](https://eu-west-2.console.aws.amazon.com/ecr/private-registry/repositories?region=eu-west-2) and filter by `laa-data-provider-data` to locate the correct repository. 
          - Within the registry, search for tag `pdp-${{ inputs.rtag }}` and confirm that this image version was recently pushed.
          - Search also for the older rollback tag `${{ needs.query-prod-version.outputs.prod_fulltag }}` to confirm it has not been deleted.
          
          ### Next steps to proceed
          
          Further deployment approval reviews are required to complete this deployment:
          
          - If the information above looks good, approve the **Deploy to prod** job when ready.
          - If the deployment completes successfully, approve the **E2E test prod** job when ready.
          - If there are problems with the newly-deployed version, then roll back by running this pipeline workflow again with **Registry tag to deploy:** `${{ needs.query-prod-version.outputs.prod_rtag }}`.
          EOF

  deploy-prod:
    name: "Deploy to prod"
    needs: [ preflight-summary ]
    permissions: { contents: read, id-token: write }
    uses: ./.github/workflows/rw-pdp-deploy-main.yml
    with:
      rtag:   ${{ inputs.rtag }}
      target: "prod"
    secrets: inherit

  e2e-test-prod:
    name: "E2E test prod"
    if:   inputs.skip_e2e != true
    needs: [ deploy-prod ]
    permissions: { contents: read, packages: read }
    uses: ./.github/workflows/rw-pdp-e2etest.yml
    with:
      target: "prod"
    secrets: inherit
