name: Publish documentation

on:
  push:
    branches: [ main ]
    paths: [ "docs/**", ".github/workflows/publish-documentation.yml" ]
  workflow_dispatch:

# GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ministryofjustice/tech-docs-github-pages-publisher:v6.0.1
    permissions:
      contents: read
    steps:
      # We only checkout the docs directory, which allows us to keep all
      # necessary files for generating the docs separate from the app.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            docs
          sparse-checkout-cone-mode: false

      # The package script will use the docs directory as the build output directory
      # and create the artifact from there. We don't need to move it.

      - name: Compile Markdown to HTML and create artifact
        # Script to deploy is not in the repo, but in this image:
        # `ministryofjustice/tech-docs-github-pages-publisher:v6.0.1`
        run: |
          /usr/local/bin/package

      - name: Upload artifact to be published
        uses: actions/upload-artifact@v6
        with:
          name: github-pages
          path: artifact.tar
          retention-days: 1
          overwrite: true

  deploy:
    needs: build
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  url-check:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download a Build Artifact from build
        uses: actions/download-artifact@v7
        with:
          name: github-pages
          path: github-pages

      - name: Unpack files and check URL links
        run: |
          cd github-pages
          tar -xf artifact.tar
          npm install linkinator
          npx linkinator . --recurse --markdown \
            --skip https://ministryofjustice.github.io/laa-provider-data-platform/images/ \
            --skip javascripts/govuk_frontend.js \
            --skip 'http://localhost:.*' \
            --skip 'https://github.com/ministryofjustice/laa-provider-data-platform/blob/main/source/.*\.md\.erb'
