name: "Reusable workflow: PDA (unified) deploy PR"

on:
  workflow_call:
    inputs:
      application: { type: string, required: true }
      rtag:        { type: string, required: true }
      target:      { type: string, required: true }
      prnum:       { type: string, required: true }
  workflow_dispatch:
    inputs:
      application: { type: choice, required: true, options: [ "provider-data-platform" ],
                     description: "Application to deploy" }
      prnum:       { type: number, required: true, description: "Pull request # (e.g. '942')" }
      target:      { type: choice, required: true, options: [ "uat" ],
                     description: "Target environment" }

jobs:
  deploy-pr:
    name: "Deploy ${{ inputs.application }} registry tag ${{ inputs.rtag || format('pr-{0}', inputs.prnum) }} to ${{ inputs.target }}"
    permissions: { contents: read, id-token: write }
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.target }}
      url:  https://laa-provider-data-platform-pr-${{ inputs.prnum }}.apps.cloud-platform.service.justice.gov.uk
    steps:
      - uses: actions/checkout@v6

      - name: "Determine variable values"
        id:   vars
        shell: bash
        env:
          APP: ${{ inputs.application }}
        run: |
          printf "* inputs.application=%s\n* inputs.prnum=%s\n* inputs.rtag=%s\n* inputs.target=%s\n" \
              "$APP" "${{ inputs.prnum }}" "${{ inputs.rtag }}" "${{ inputs.target }}"
          case "$APP" in
            provider-data-platform)
              CHART=./helm_deploy/provider-data-platform
              PREL=pdp-
              PR_HOST="laa-provider-data-platform-pr-${{ inputs.prnum }}.apps.cloud-platform.service.justice.gov.uk"
              PTAG=pdp-
              REL="pr-${{ inputs.prnum }}"
              RTAG="${{ inputs.rtag || format('pr-{0}', inputs.prnum) }}"
              ;;
            *)
              echo "Unknown application: $APP" >&2
              exit 1
              ;;
          esac
          RELEASE="${PREL}${REL}"
          printf "* outputs.chart=%s\n* outputs.pr_host=%s\n* outputs.ptag=%s\n* outputs.release=%s\n* outputs.rtag=%s\n" \
              "$CHART" "$PR_HOST" "$PTAG" "$RELEASE" "$RTAG"
          echo "chart=$CHART" >> "$GITHUB_OUTPUT"
          echo "pr_host=$PR_HOST" >> "$GITHUB_OUTPUT"
          echo "ptag=$PTAG" >> "$GITHUB_OUTPUT"
          echo "release=$RELEASE" >> "$GITHUB_OUTPUT"
          echo "rtag=$RTAG" >> "$GITHUB_OUTPUT"

      - name: "Authenticate with Amazon ECR"  # (needed to get ecr_registry)
        id:   ecr_auth
        uses: ./.github/actions/cp-ecr-auth
        with:
          ecr_region:         ${{ vars.DPD_ECR_REGION }}
          ecr_role_to_assume: ${{ secrets.DPD_ECR_ROLE_TO_ASSUME }}

      - name: "Authenticate with Kubernetes cluster"
        id:   kube_auth
        uses: ./.github/actions/cp-kube-auth
        with:
          kube_cert:      ${{ secrets.DPD_KUBE_CERT }}
          kube_cluster:   ${{ secrets.DPD_KUBE_CLUSTER }}
          kube_namespace: ${{ secrets.DPD_KUBE_NAMESPACE }}
          kube_token:     ${{ secrets.DPD_KUBE_TOKEN }}

      - name: "Install Helm release ${{ steps.vars.outputs.release }}"
        if:   steps.ecr_auth.outputs.ecr_auth_attempted == 'true'
              && steps.kube_auth.outputs.kube_auth_attempted == 'true'
        shell: bash
        env:
          CHART:   ${{ steps.vars.outputs.chart }}
          IMAGE:   ${{ steps.ecr_auth.outputs.ecr_registry }}/${{ vars.DPD_ECR_REPOSITORY }}
          PR_HOST: ${{ steps.vars.outputs.pr_host }}
          PTAG:    ${{ steps.vars.outputs.ptag }}
          RELEASE: ${{ steps.vars.outputs.release }}
          RTAG:    ${{ steps.vars.outputs.rtag }}
          TARGET:  ${{ inputs.target }}
        run: |
          set -eu
          echo "Upgrade Helm release - chart: [${CHART}], image: [${IMAGE}], tag: [${PTAG}${RTAG}], target: [${TARGET}], release: [${RELEASE}]"
          IP_ALLOWLIST="$(kubectl get secret app-secrets -o json | jq -r '.data["IP_ALLOWLIST"] | @base64d')"
          HELM_OPTS=(
              -f "${CHART}/values.yaml"
              -f "${CHART}/values-${TARGET}.yaml"
              --set-string "canary.role=none"
              --set-string "image.repository=${IMAGE}"
              --set-string "image.tag=${PTAG}${RTAG}"
              --set-string "ingress.allowlist=${IP_ALLOWLIST//,/\\,}"
              --set-string "ingress.hosts[0].host=${PR_HOST}"
              --set-string "ingress.tls[0].hosts[0]=${PR_HOST}"
              --set ingressInternal.enabled=false
              --set ingressShared.enabled=false
              --set prometheus.metricsEnabled=false
              --set replicaCount=2
          )
          helm upgrade --install "${RELEASE}" "${CHART}" "${HELM_OPTS[@]}" --debug --dry-run=server
          # If the dry-run succeeded, do the real thing
          helm upgrade --install "${RELEASE}" "${CHART}" "${HELM_OPTS[@]}"
